.about__container {
  max-width: 80rem;
  text-align: center;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__content h5 {
  font-size: 1.2rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.header__socials {
  display: flex;
  gap: 1.2rem;
  font-size: 2rem;
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
  font-size: 2rem;
}

.about__card small {
  font-size: 0.9rem;
  color: var(--color-light);
}

.about__container p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

.about__content strong {
  font-size: 1.15rem;
}

.about__btns {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.cta {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* Tablets - Medium Devices */ 

@media screen and (max-width: 1024px) {
  .about__content p {
    margin: 1rem 0 1.5rem;
  }

}

/* Phones - Small Devices */ 

@media screen and (max-width: 600px) {
  .about__cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }

  .header__socials {
    position: relative;
    flex-direction: row;
    bottom: -1rem;
    justify-content: center;
  }

  .about__btns {
    display: block;
  }
}
